body{
background:transparent url(fondo.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.pk{
	color: #E1F5A9;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
        padding: 75px;
}

#contrasena ,#usuario{
	border:1px solid #BDBDBD;
	background-color: #F7FE2E;
	border-radius: 10px 0;
	-webkit-border-radius: 10px 0;
	-moz-border-radius: 10px 0;
	-o-border-radius: 10px 0;
        padding-left: 5px;
        padding-right: 5px;
}
#btnlogin{
	background: #2E9AFE;
	border: 1px solid #0080FF;
	border-radius: 11px 0;
	-webkit-border-radius: 11px 0;
	-moz-border-radius: 11px 0;
	-o-border-radius: 11px 0;
	text-align: center;
}
#contrasena{/*	width: 160px;*/}

#main1{
	background-color: #F7F8E0;
	border: 1px solid #6E6E6E;
	border-radius: 15px 0;
	-webkit-border-radius: 25px 0;
	-moz-border-radius: 25px 0;
	-o-border-radius: 25px 0;
	margin:0 auto 0 auto;
        width: 240px;
/*	position: absolute;*/
        padding: 10px;
/*	right: 100px;*/
/*	top: 180px;*/
}

#usuario{/*	width: 270px;*/}
#video{}

.leo{
color: #2E9AFE;text-align: center;
text-shadow: 5px 5px 10px;
-webkit-text-shadow: 5px 5px 10px;
-ms-text-shadow: 5px 5px 10px;
-moz-text-shadow: 5px 5px 10px;
}